<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.toolsqa.ListnersTest"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="testInteraction">
        <classes>
            <class name="com.toolsqa.SelectTextTest" />
            <class name="com.toolsqa.SelectFormTest" />
        </classes>
    </test>
</suite>